// Import
@import "variables";

@mixin close_button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: map-get($map: $font-size, $key: body) * 1.2;
  font-weight: map-get($map: $font_weight, $key: medium);
  color: map-get($map: $font_color, $key: black);
  cursor: pointer;
  &::before {
    position: absolute;
    content: "\F62A";
    left: -25px;
    top: 50%;
    transform: translateY(calc(-50% + 2px));
    font-family: "bootstrap-icons";
    font-size: map-get($map: $font-size, $key: h2);
  }
}
