/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

// Variables
$font_size: (
  body: 15px,
  h1: 35px,
  h2: 25px,
  h3: 20px,
);
$font_weight: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  extra_bold: 900,
);
$font_color: (
  primary: #333333,
  secondary: #555555,
  third: #999999,
  fourth: #dddddd,
  white: #ffffff,
  black: #000000,
);
$theme_color: (
  primary: #e67e22,
  snow: #f5f5f5,
  white: #ffffff,
  cloudy: #ececec,
);
$font_family: (
  primary_kr: "Noto Sans KR",
);
